@import './variables.scss';

// -- SCROLLBAR
html {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $azulzim;
    border-radius: 1rem;
  }
}

// -- BUTTONS
.button {
  cursor: pointer;
  
  min-width: max-content;
  padding: 1rem 2rem;
  gap: 0.75rem;
  border: 1px solid $azulzim;
  border-radius: 3rem;
  
  font-size: 0.75rem;
  text-align: center;

  &:hover {
    background-color: $azulzim;
    color: $claro;
  }
}

// -- LINHA DIVISORIA

// -- IMAGENS
img {
  max-width: 82.5vw;
}
.foto-perfil {
  width: 26.5vw;
  max-width: 15rem;
  border-radius: 100%;
  box-shadow: 0 15.rem 4rem 0 #00000026;
}

// -- CAIXA
.caixa {
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-items: center;
  
  gap: 1rem;
  padding: 1.5rem;
  border: 0.125rem solid $azulzim;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem 0 #00000026;
}

// -- OUTROS
hr {
  @include width;
  margin: 5rem 0 3rem 0;
  border-color: $azulzim;
}
nav ul{
  list-style: none;
}