@import './variables.scss';

@media (min-width: 768px) {
  // -- RESUMOS
  #resumo {
    flex-direction: row;
    place-items: center;
    justify-content: center;
    gap: 2.5rem;

    h1, h2, h4 {
    text-align: left;
    }
  }
  // -- HEADER
  // #header ul {
  //   @include nav-desktop(1.65vw);
  // };
}