@import './variables.scss';

// -- MAIN
#main { 
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.5rem 0;
}

// -- DEMAIS SECTIONS
:where(#resumo, #sobre, #projetos) {
  @include flex(column, 1.5rem, 2.5rem);
  @include width;
}
