// -- HEADER
#header {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  height: 5rem;
  padding: 0 6.25vw;
  box-shadow: 0 1.5rem 4rem 0 #00000026;
}

// -- MAIN
#main { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

// -- DEMAIS SECTIONs
:where(#resumo, #sobre, #projetos) {
  @include flex(column, 1.5rem, 2.5rem);
  @include width;
}
