@import './variables.scss/';

// -- TEMA CLARO
:where([tema-atual = 'claro']) {
  background-color: $claro;
  color: $escuro;
  
  #pseudo-btn {
    background-color: hsl(210, 17%, 98%);
  }
  a {
    color: $azulzim;
    text-decoration: none;
  }
  :is(#i-linkedin, #i-github, #i-insta):hover path {
    fill: $escuro;
  }
}

// -- TEMA ESCURO
:where([tema-atual = 'escuro']) {
  background-color: $escuro;
  color: $claro-2;
  
  #header, .button{
    background-color: $escuro-2;
  }
  .pseudo-btn {
    background-color: hsl(30, 2%, 23%);
  }
  a {
    color: $claro-2;
  }
  ul a {
    text-decoration: none;
  }
  :is(#i-linkedin, #i-github, #i-insta) {
    path {
      fill: $claro-2;
    }
    &:hover path {
      fill: $azulzim;
    }
  }
}