// -- CORES
$azulzim: hsl(216, 100%, 50%);
$claro: hsl(0, 0%, 100%);
$claro-2: hsl(42, 67%, 94%);
$escuro: hsl(0, 0%, 13%);
$escuro-2: hsl(40, 3%, 23%);

// -- MIXINS
@mixin flex($direction, $gap-1, $gap-2) {
  display: flex;
  flex-direction: $direction;
  place-items: center;
  gap: $gap-1;

  @media (min-width: 821px) {
    gap: $gap-2;
    place-items: flex-start;
  }
}
@mixin width {
  width: 82.5vw;
  @media (min-width: 821px) {
    width: 67vw;
  }
}
@mixin nav-desktop($gap) {
  display: flex;
  align-items: center;
  
  gap: $gap;
}

