.imagemobile {
  display:none;
}
.title {
  color: #003720;
  font-size:2rem;
  grid-area: 1 / 1 / 2 / 3;
}

.first {
  display:grid;
  grid-template: 0.6fr 4fr 4fr / 1fr 1fr 1fr 1fr;
  gap:3rem;
  row-gap: 0.5rem;
}

.text {
  grid-area: 2 / 1 / 3 / 3;
}

.imagedesktop {
  grid-area: 2 / 3 / 3 / 5;
}


.secondtext {
  grid-area: 3 / 1 / 4 / 5;
}

.text p {
  font-size:1.2rem;
  height: 60%;
}

.secondtext p {
  font-size:1.2rem;
  height: 60%;
}

@media (max-width: 1110px) {
  .title {
    font-size:1.5rem;
    grid-area: 1 / 2 / 2 / 4;
  }

  .first {
    grid-template: 0.2fr 1.2fr 1fr / 1fr 1fr 1fr 1fr;
    gap:1rem;
    row-gap: 0.5rem;
  }

  .text {
    grid-area: 3 / 2 / 4 / 4;
  }

  .secondtext {
    grid-area: 4 / 2 / 5 / 4;
  }

  .text p {
    font-size:0.9rem;
    height: 20%;
  }

  .secondtext p {
    font-size:0.9rem;
    height: 20%;
  }

  .imagedesktop {
    grid-area: 2 / 2 / 3 / 4;
  }

  main.homemain {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    gap:2rem;
  }

}

@media (max-width: 700px) {
  .imagedesktop {
    display:none;
  }
  .imagemobile {
    display:block;
  }
  .title {
    font-size:1.5rem;
    grid-area: 1 / 2 / 2 / 4;
  }

  .first {
    grid-template: 0.09fr 0.3fr 0.6fr 1.6fr / 1fr 1fr 1fr 1fr;
    gap:0.5rem;
    row-gap: 0.5rem;
  }

  .text {
    grid-area: 3 / 2 / 4 / 4;
  }

  .secondtext {
    grid-area: 4 / 2 / 5 / 4;
  }

  .text p {
    font-size:0.8rem;
  }

  .secondtext p {
    font-size:0.8rem;
  }

  .imagemobile {
    grid-area: 2 / 2 / 3 / 4;
  }

  main.homemain {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    gap:2rem;
  }

}

@media (max-width: 550px) {

}
