<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/card.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main>
			<section>
				<img class="plant" src="../images/plant.png" alt="">	
				<img class="plant_mobile" src="../images/plant_mobile.png" alt="">	
				<article>
					<div>
						<h1>Decore sua casa com plantas!</h1>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus at ornare tortor, magna interdum ut. Fringilla tellus neque malesuada ullamcorper. Lacinia interdum sollicitudin sed sit eget sit. Tristique velit gravida aenean nulla. Ut gravida lobortis magnis purus dui. At nibh massa orci, varius auctor cursus commodo. Nisi, non molestie tincidunt posuere leo etiam eu, orci. Consequat diam facilisi neque, est sit. Gravida nibh magna cursus eget eget velit cras.
						</p>
					</div>
					<div class="footer">
						<span class="menu_off">
							<img src="../images/text.svg" alt="">
						</span>		

						<div class="bar">
							<div class="icon">
								<img  class="dog" src="../images/dog.svg" alt="">	
								<div class="date">
									<div class="doguito">Doguito</div>	
									<div>29/09/2022</div>	
								</div>
							</div>
							<div class="share_bar">

								<img class="share" src="../images/share.svg" alt="">	
							</div>
						</div>
						
					</div>
				</article>
			</section>
		</main>
	</body>
	<script src="../scripts/script.js"></script>
	
</html>
