body {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  height: 82px;
  padding: 0px 87px 0px 87px;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.navleft {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.imgbrand {
  display: flex;
  padding-bottom: 5px;  
}

.brand {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0px;
}

.labels {
  display: flex;
  gap: 20px;
}

.label {
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.45px;
  text-align: left;
  color: rgba(0, 101, 255, 1);
  margin: 0px;
}

.navright {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.socialicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.scrollview {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 50px;
  gap: 80px;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

h1 {
  font-family: EB Garamond;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(0, 101, 255, 1);
  margin: 0;
}

.divider-s {
  width: 192px;
  border-top: 1px solid rgba(0, 101, 255, 1);
}

.divider-l {
  width: 960px;
  border-top: 1px solid rgba(0, 101, 255, 1);
}

.portfolio-description {
  font-family: Be Vietnam Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.84px;
  text-align: left;
  width: 962px;
  margin: 0px;
}

.highlight {
  color: rgba(0, 101, 255, 1);
  font-weight: 400;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.callout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 21px 20px 19px ;
  background-color: rgb(234, 237, 240);
  border-radius: 10px;
  width: max-content;
}

.callout-text {
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0px;
}