
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --corprincipal: #7400b2;
}


*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: inherit;
}

body{
    display: flex;
    flex-direction: column;

    align-items: center;

}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.headerleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-left: 50px;
    text-decoration: none;
}

.homename{
    font-family: 'Be Vietnam';
    font-weight: 700;
    font-size: 20px;
    color: #202020;
}


.headerright{
    display:flex;
    align-items: center;
    gap: 35px;
    padding-right: 50px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.darkmode{
    display: flex;
    align-items: center;
    gap: 8px;
}

.sections{
    display: flex;
    gap: 25px;
    color:  var(--corprincipal) ;

}

.redes{
    display: flex;
    gap: 20px;
    align-items: center;
}

.cula{
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.3);
    border-radius: 93px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.name, .hello{
    font-family: 'EB Garamond';
    font-weight: 700;
    font-size: 70px;
    color:  var(--corprincipal);
}

.presentation{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    align-items: start;
    width: 960px;
    height: 100%;

}

.texto{
    font-family: 'Be Vietnam';
    font-weight: 400;
    font-size: 17px;
    color: #202020;
}

.bio{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 960px;
    gap: 30px;
}

.work{
    display: flex;
    width: 462px;
    height: 56px;
    background-color: #F8F9FA;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 30px;
}

.linha{

    background-color: #7400b2;
    height: 1px;
    width: 192px;
    margin-top: 70px;

}

.redes{
    display: flex;
    gap: 50px;
    align-items: center;
}



.cunu{
    visibility:hidden;
    height: 0;
}


@media(max-width: 850px){
    .redes, .sections{
        display: none;
    }

    .bio, .presentation, .work{
        width: 310px;
        align-items: center;
        align-self: center;
    }
     
    .hello, .name{
        font-size: 32px;
        text-align: center;
    }

    .presentation{
        height: 100%;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 370px;
    }
    .redesham{
        gap: 50px;
        display: flex;
        justify-content: space-between;
    }

    .botaox{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    .sectionsham{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        color:  var(--corprincipal) ;
    
    }

    .hamdiv{
        width: 100%;
        /* visibility: hidden;
        height: 0; */
    } 

    .cula{
        margin-bottom: 15px;
    }

    #cunu{
        visibility:visible;
        height: 100%;
        width: 100%;
    }



    
}

