* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #BCCDD0;
    --branco: #DFDFD6;
}

body {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

section {
    width: 875px;
    border-radius: 30px;
    background-color: var(--branco);
    display: flex; /* Adicionado */
}

/* colunas */
.coluna {
    box-sizing: border-box;
}

.coluna1 {
    width: 30%;
    padding: 15px;
}

.coluna1 img {
    width: 100%;
    margin: 0; /* Adicionado para remover o espaçamento ao redor da imagem */
}

.coluna2 {
    width: 70%;
    padding: 15px;
    background-color: #ddd;
}

/*conteudo*/
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
