@import '../../styles/index.scss/';

#skills {

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  table {
    display: inline-flex;
    flex-direction: column;

    
    padding: 1rem;
    gap: 0.5rem 0;
    width: 14rem;
    border: 0.125rem solid $azulzim;
    border-radius: 1rem;
  }


  tr {
    display: inline-flex;
    justify-content: space-between;
  }

  .habilidade {
    min-width: 13rem;
  }
}