nav ul li.button-nav{
    background-color: #7ED321;
    color: #1C4701;
}

main {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section.form{
    display: flex;
}

main h2{
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

main section.form label{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main section.form p{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    width: 124px;
    height: 50px;
    margin-right: 14px;
}

main section.form input{
    width: 419px;
    height: 43px;
    border: 1px solid #9F9F9F;
    border-radius: 7px;
    margin-bottom: 20px;
    padding-left: 12px;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

main section.form input::placeholder, main section.form textarea::placeholder{
    font-weight: 700;
    font-size: 14px;
    color: #9F9F9F;
}

main section.form textarea{
    width: 418px;
    height: 148px;
    border: 1px solid #9F9F9F;
    border-radius: 7px;
    padding-left: 12px;
    padding-top: 12px;
    margin-bottom: 20px;
}

button{
    width: 141px;
    height: 42px;
    background-color: #7ED321;
    border-radius: 10px;
    text-decoration: none;

    font-weight: 700;
    font-size: 16px;
    color: #1C4701;


}

section.button{
    display: flex;
    justify-content: flex-end;
}

