@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --text-color: #000000;
    --nav-btn-bg: rgba(126, 211, 33, 0.4);
    --btn-text: rgba(28, 71, 1, 1);
    --main-btn-bg: #7ed321;
    --field-color: rgba(159, 159, 159, 1);
}

* {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}


body {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    color: var(--text-color);
}

nav h1 span {
    color: var(--main-btn-bg);
}

nav .nav_container {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

nav .nav_container a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 10px 0px;
}

nav .nav_container .nav_item::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-btn-bg);
    transition: width .8s;
}

nav .nav_container .nav_item:hover::after {
    width: 100%;
}


nav .nav_container .nav_item_link {
    background-color: var(--nav-btn-bg);
    transition: background .5s, border .5s;
    border: solid 2px transparent;
    border-radius: 14px;
    color: var(--btn-text);
    padding: 10px 30px;
}

nav .nav_container .nav_item_link:hover {
    background-color: transparent;
    border: solid 2px var(--main-btn-bg);

}

nav ul li a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
}

main,
.main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    justify-content: space-evenly;
    gap: 20px;
    padding:70px 80px;
}

.main_section {
    flex-direction: column;
    width: max-content;
    align-items: flex-start;
    gap: 35px;
}

.main_section .main_section_btn {
    background-color: var(--main-btn-bg);
    color: var(--btn-text);
    padding: 10px 50px;
    transition: background .5s, border .5s;
    border: solid 2px transparent;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
}

.main_section .main_section_btn:hover {
    background-color: transparent;
    border: solid 2px var(--main-btn-bg);
}



    