body{
    background-color: cyan;
}

section{
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    width: 875;
    height: 491.63;
    top: 294px ;
    left: 523px;
    border-radius: 30px 30px 30px 30px;
    background-color: #DFDFD6;
  

}

.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: Hug (524px)px;
    height: Hug (222px)px;
    gap: 125px;
    margin-left: 32px;
    margin-right: 32px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 50px;
    font-family: Josefin Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}

p{
    display: flex;
    width: Hug (524px)px;
    height: Hug (222px)px;
    text-align: justify;
    
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.caixaInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    
}