body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    padding: 40px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    color:#000000;
}
a:visited{
    color: #000000;
}
header{
    display: flex;
    text-align: left;
    justify-content: baseline;
}
.welovedogs{
    font-size: 48px;
    margin: 0;
}
.verde{
    color:#7ED321;
}
.hero-container{
    top: 120px;
    display: flex;
    margin-top: 10px;
}
.wrapper{
    top: 120px;
    justify-content: center;
    margin-left: 20%;
}
.hero-content{
    flex-direction: column;
    padding-right: 10px
}
.hero-image{
    left: 600px;
}
p{
    font-size: 48px;
    font-weight: bold;
}
.inscricao{
    background-color: #7ED321;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-inline: 32px;
    border-radius: 15px;
}
