.todaymobile {
  display:none;
}

header {
  background-color: #087444;
  display:flex;
  flex:1;
  justify-content: space-around;
  align-items:center;
}

input {
  box-sizing: border-box;
  width:300px;
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:2rem;
}

body, html {
  padding: 0;
  margin: 0;
  height:100%;
}

@media (max-width: 700px) {
  .todaydesktop {
    display:none;
  }

  .todaymobile {
    display:block;
  }

  input {
    box-sizing: border-box;
    width:120px;
    border-radius: 9px;
    border: 1px solid transparent;
    padding: 0.4em;
    font-size: 0.6em;
  }
}
