

.centro{
    display: flex;
    text-transform: uppercase;
    gap: 1.5rem;
}

.item{
    width: 80px;
    border-bottom: 5px solid #0A3871;
    border-radius: 1px;
    font-size: 48px;
    font-weight: 400;
    color: #0A3871;
}

