body{ 
  background-color: #E5CF94;
}

.logo{
  background: #965A1B;
  height: 244px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.center{
  background-color: #E5CF94;
}

.elements{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 136px; 
 
}

.quadros{
  display: flex;
  justify-content: space-around ;
  margin-top: -140px;
  width: 955px;
  height: 136px;
}

.NaFila{
  background-color: white;
  height: 106px;
  width: 295px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.NaFila h5{
  margin-top:20px ;
  margin-left: 20px;
}

.NaFila img{
  margin-top: 10px;
  margin-right: 10px;
}

.paesVendidos{  background-color: white;
  height: 106px;
  width: 295px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.paesVendidos h5{
  margin-top:20px ;
  margin-left: 20px;
}

.paesVendidos img{
  margin-top: 10px;
  margin-right: 10px;
}

.entrada{ 
  background: #5F3305;
  height: 106px;
  width: 295px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.entrada h5{
  color: white;
  margin-top:20px ;
  margin-left: 20px;
}

.entrada img{
  margin-top: 10px;
  margin-right: 10px;
}

.AdicionarNaFila{
  
  background-color: #E5CF94;
}

.AdicionarNaFila h4{
  color: #5F3305;
  display: flex;
  margin-top: -50px;
  margin-left: 380px;
}

.Lista{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Cliente1{
  width: 955px;
  display: flex;
  flex-direction: column;

}

.Cliente1 h5{
  margin-top: 13px;
  margin-left: 10px;
  margin-bottom: 0;
  color: #5F3305;

}

.InformacaoInferior{
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.InformacaoInferior h6{
  margin-top: 13px;
  margin-left: 10px;
  color: #5F3305;
}

.Cliente{
  background: #FFFFFFCC;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 940px;
  border-radius: 10px;
  margin-top: 15px;
}

.Cliente img{
  margin-top: 10px;
  margin-right: 10px;
}