.container {
  margin: 0 auto;
  max-width: 680px;
}

.content {
  text-align: center;
  margin-top: 1.875rem; 
  padding-bottom: 40px;
}

.content p {
  text-align: justify;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
}

.about-img {
  margin-top: 1rem;
}