body{
    background-color: white;
}


#love{
    color:rgba(126, 211, 33, 1);
    text-decoration: none;
}

.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px ;
}

.we, .dogs{
    color: #000;
    text-decoration: none;
}
.title{
    display: flex;
    flex-direction: row;
    width: 281px;
    height: 65px;
    font-weight: 700;
    top: 27px;
    left: 15px;
    font-size: 48px;
    align-items:center;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;



}
.navigation{
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    font-family: "Open Sans", sans-serif;
    gap: 4em;
    justify-content: end;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 35px;
  


}

.quemsomos, .blog, .b1, .b2{
   text-decoration:none;
   color: black;
} 

.b1{
    display: flex;
    align-items: center;
    width: 151px;
    height: 40px;
    background: rgba(126, 211, 33, 0.4);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
    justify-content: center;



}

.inscricao{
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
    height: 110px ;


}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

label{
    display: inline-block;
    width: 140px;
    height: 43px;
    font-weight: 700;
    font-family: "Open sans", sans-serif;
    text-align: center;
    text-justify: justify;


}

.inputarea{
    display: flex;
    align-items:flex-start;
    gap: 45px
}

.textimg{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.textboxes{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 30px;
    
}


.box{
    border-radius: 10px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: "Open sans", sans-serif;

}

.bigbox{
    height: 180px ;
    border-radius: 10px;
    width: 420px;
    font-weight: 700;
    font-family: "Open sans", sans-serif;
}

::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

.botaoenviar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 42px;
    background: #7ED321;
    border-radius: 10px;
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    color: #1C4701;
    text-decoration: none;
    cursor: pointer;

}

.botaoenviar:hover, .b1:hover{
    background-color: #7dd321a1
}
