* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans';
}

/* Header */
.nav-container {
    background: #ffff;
    box-shadow: 0px 10px 24px rgb(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    z-index: 10;    
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    color: black;
    transition: 300ms;
}

.logo .love {
    color: #7ED321;
}

.logo:hover {
    font-size: 52px;;
}

.nav-items li {
    list-style: none;
    margin-right: 20px;
}

.nav-items LI:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    display: flex;
    align-items: center;
    padding: 9px 32px;
    border-radius: 15px;
    transition: 300ms;
}

.nav-items .sub-button a {
    color: #1C4701;
    background: #7ED32166;
}

.nav-items li a:hover {
    background-color: rgb(0, 0, 0, 0.1);
    transform: translateY(-8px)
}

.nav-items .sub-button a:hover {
    background: rgba(121, 177, 62, 0.69);
}


/* Main */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

header h1 {
    margin-bottom: 37px;
}

.main-container {
    display: flex;
    flex-direction: row;
    background: #ffff;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content .label {
    width: 124px;
    margin-right: 14px;
}

.main-content .label h2 {
    display: block;
    margin-bottom: 13px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    text-align: center;
}

.main-content .input input {
    display: flex;
    flex-direction: column;
    width: 419px;
    height: 43px;
    border-radius: 7px;
    border: solid #9F9F9F 1px;
    margin-bottom: 20px;
    text-indent: 10px;
}

.main-content .input input::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    text-align: left;
}

.input textarea {
    width: 419px;
    height: 160px;
    border-radius: 7px;
    border: solid #9F9F9F 1px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify;
}

.input textarea::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    text-align: left;
}

header  .main-image {
    display: flex;
    position: relative;    
}

header .main-image img {
    transition: 300ms;
}

header .main-image img:hover {
    transform: translateY(-8px);
}

