:root {
  --white: #ffffff;
  --black: #000000;
  --green-500: #7ED321;
  --green-600: #6BBF1A;
  --green-700: #1C4701;
  --gray-600: #9F9F9F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

header {
  height: 120px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li:not(:first-child) a {
  margin-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.inscrever-header-btn {
  background: rgba(126, 211, 33, 0.4);
  color: var(--green-700);
  padding: 9px 32px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

.inscrever-header-btn:hover {
  background-color: var(--green-600);
}