body{
    background-color: white;
}


#love{
    color:rgba(126, 211, 33, 1);
    text-decoration: none;
}

.we, .dogs{
    color: #000;
    text-decoration: none;
}

.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px ;
}

.title{
    display: flex;
    flex-direction: row;
    width: 281px;
    height: 65px;
    font-weight: 700;
    top: 27px;
    left: 15px;
    font-size: 48px;
    align-items:center;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;



}
.navigation{
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    font-family: "Open Sans", sans-serif;
    gap: 4em;
    justify-content: end;
    align-items:center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 35px;
  


}

.quemsomos, .blog, .b1, .b2{
   text-decoration:none;
   color: black;
} 

.b1{
    display: flex;
    align-items: center;
    width: 151px;
    height: 40px;
    background: rgba(126, 211, 33, 0.4);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
    justify-content: center;



}
.main{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 60px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto{

width: 340px;
height: 234px;
left: 200px;
top: 180px;
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 65px;
}

.b2{
display: flex;
align-items: center;
justify-content: center;
width: 220px;
height: 51px;
border-radius: 15px;
background: #7ED321;
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 18px;
color: #1C4701;
}

.b1:hover, .b2:hover{
    background-color: #7dd321a1
}

