* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navegacao {
    height: 100px;
    width: 100%;
}

.itens{
    margin: 10px;
    display: flex;
    justify-content: space-between; /* Isso garante que os itens fiquem separados nos extremos */
    align-items: center;
}

.logo{
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
}

.logo a{
    color: black;
    text-decoration: none;
}

.love{
    color:#7ED321;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Removi a bolinha dos itens */
    align-items: center;
}

.menu li{
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover{
    color: #7ED321;
}
.botao-inscrever {
    background-color: #7ED32166;
    color: black; 
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Raio de borda para arredondar */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
    font-size: 16px; /
    
}

.titulo{
    font-size: 35px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    width: 334px;
    height: 65px;
    text-align: center;
    white-space: nowrap;
    margin-left: 600px;
}

.post{
    width: 687px;
    height: 176px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: justify;
    margin-left: 450px;
    margin-top: 20px;
}

.img{
    width: 354px;
    height: 266px;
    margin-top: 5px;
    margin-left: 600px;
}