* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navegacao {
    height: 100px;
    width: 100%;
}

.itens{
    margin: 10px;
    display: flex;
    justify-content: space-between; /* Isso garante que os itens fiquem separados nos extremos */
    align-items: center;
}

.logo{
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
}

.logo a{
    color: black;
    text-decoration: none;
}

.love{
    color:#7ED321;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Removi a bolinha dos itens */
    align-items: center;
}

.menu li{
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover{
    color: #7ED321;
}
.botao-inscrever {
    background-color: #7ED32166;
    color: black; 
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Raio de borda para arredondar */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
    font-size: 16px; /
    
}

h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    width: 334px;
    position: absolute;
    height: 65px;
    top: 150px;
    left: 553px;
    text-align: center;
}

p{
    position: absolute;
    width: 687px;
    height: 176px;
    top: 229px;
    left: 377px;
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: justify;


}

img{
    position: absolute;
    width: 354px;
    height: 266px;
    top: 419px;
    left: 543px;
    gap: 0px;
    opacity: 0px;

}