.quemheadline {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65.37px;
  text-align: center;
  margin: 0px;
  width: 334px;
  height: 65px;
  /* background-color: red; */
}

.quemsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 14px;
}

.quemp {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: justify;

  width: 687px;
  height: 176px;
  margin: 0px;
  /* background-color: blue; */
}