header {
  height: 120px;
  margin-bottom: 1.875rem;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li:not(:first-child) a {
  margin-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

nav ul li a:hover {
}

.inscrever-header-btn {
  background: rgba(126, 211, 33, 0.4);
  color: var(--green-700);
  padding: 9px 32px;
  border-radius: 16px;
  transition: background-color 0.3s ease;
}

.inscrever-header-btn:hover {
  background-color: var(--green-400);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12.5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-right: 60px;
}

p {
  font-size: 48px;
}

.inscrever-body-btn {
  text-decoration: none;
  background: var(--green-500);
  color: var(--green-700);
  border: none;
  border-radius: 16px;
  padding: 0.875rem 3.5rem;
}

.inscrever-body-btn:hover {
  background: var(--green-400);
}