
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}

:root{
    --cor-primaria: #7ED321;
    --cor-secundaria: #1C4701;
}

body{
    font-family: "Open Sans", serif;
}
/*-------------- MENU -------------*/
.menu{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav h1{
    font-size: 48px;
    margin: 0px;
    padding-left: 30px;

}

nav a {
    text-decoration: none;
    color: inherit;

}

.spam_love{
    color: var(--cor-primaria);
}

nav ul li{
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
    text-decoration: none;
}

.menu_itens_li_contato{
    background-color: rgba(126,211,33, 0.5);
    border-radius: 15px;
    padding:10px 30px 10px 30px;
    margin-right: 30px;
    color: var(--cor-secundaria);
    transition: transform .2s;
}

.menu_itens_li_contato:hover, .menu_itens_li_contato_dois:hover, .menu_itens_li_contato_3:hover{
    transform: scale(1.2);
}



/* ---------- HOME ----------- */
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
}

.main_div_texto{  
    width:30%;
    font-size: 38px;
}

.main_div_img{
    width:640px;
    height:480px;
}

.menu_itens_li_contato_dois{
    width: 220px;
    height: 51px;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    border-style: none;
    transition: transform .2s;
}


.menu_itens_li_contato_dois a{
    text-decoration: none;
    color: inherit;
}


/* ---------- ABOUT ---------- */

.about{
    padding-top: 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.about_titulo{
    font-size: 38px;
    padding: 20px;

}
.about_texto{
    width: 40%;
    text-align: justify;
    font-size: 16px;

}

.about_img_item{
    margin-top: 50px;
    width: 354px;
    height: 266px;


}

/* ---------- BLOG ---------- */
.titulo_blog{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    padding: 50px;
}

.blog{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    
}

.blog h1{
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.img_blog{
    width: 300px;
    height: 228px;
}

.div_texto_blog{
    display: flex;
    width: 40%;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 35px;
}

.div_texto_blog h2{
    font-size: 32px;
    margin-bottom: 10px;
}


/* ------ CONTATO ------ */

.contato_titulo{
    display: flex;
    justify-content: center;
    font-size: 38px;
    padding-top:100px;
}
.contato_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}

.div_contato_titulos{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
}

.div_contato_titulos h3{
    margin-top: 10px;
    margin-bottom: 30px;
}

.contato_main form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    color: #cac5c5;
}

.contato_form_input, .contato_form__textarea{
    border-radius: 8px;
    padding: 15px;
    border: 1px solid;
    color: #cac5c5;
    font-family:  "Open Sans", serif;
    font-size: 14px;
    font-weight: bold;
    resize: none;
    
}

.contato_form__botao{
    background-color:var(--cor-primaria);
    border-radius: 5px;
    padding:10px 30px 10px 30px;
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    font-size: 16px ;
    width: 30%;
    align-self: self-end;
    
}

.menu_itens_li_contato_3{
    background-color: var(--cor-primaria);
    border-radius: 15px;
    padding:10px 30px 10px 30px;
    color: var(--cor-secundaria);
    margin-right: 30px;
    transition: transform .2s;
}



/* -------- Responsividade ------------ */

@media (max-width: 800px){
    /*------ Main ----- */
    nav ul li{
        padding-top: 30px;
        padding-right: 30px;
    }

    nav {
        flex-direction: column;

    }


    .main{
        flex-direction: column;
    }

    .main_div_texto{
        font-size: 28px;
        padding-bottom: 80px;
    }

    .main_div_img{
        width:440px;
        height:380px;

    }

    /*----About-----*/

    .about_texto{
        font-size: 14px;
        width: 60%;
    }

    /*------Blog-----*/
    .blog{
    flex-direction: column-reverse;
    }

    .div_texto_blog{
        width: 60%;
        margin-bottom: -10px;
    }

    .div_texto_blog h2{
        text-align: center;
        margin-top: 50px;
    }


    /*----Contato----*/
    .contato_main{
        flex-wrap: wrap;
    }

    .contato_titulo{
        margin-bottom: 50px;
    }
}

@media (max-width:500px){
    /*----Main----*/

    nav{
        flex-direction: column;
    }

    nav h1{
        font-size: 28px;
    }

    nav ul li{
        font-size: 14px;
        padding-top: 30px;
        padding-right: 30px;

    }

    .menu_itens_li_contato{
        padding: 10px;
        margin-right: 0px;
    }


    /*-----Main----*/
    .main{
        flex-direction: column;
    }

    .main_div_texto{
        font-size: 18px;
        width: 70%;
        text-align: center;
        gap: 10px;
    }

    .menu_itens_li_contato_dois{
        width: 150px;
        margin-top: 30px;
    }

    .main_div_img{
        width:340px;
       height:280px;
       align-self:center;
    }

    /*-----About-----*/
    
    .about_titulo{
        font-size: 18px;
    }

    .about_texto{
        width: 70%;
        font-size: 13px;
    }

    /*----Blog----*/

    .titulo_blog {
        font-size: 30px;
    }

    .div_texto_blog h2{
        font-size: 20px;
    }

    .div_texto_blog{
        font-size: 14px;
        width: 70%;
    }

    /*----Contato----*/
    
    .contato_titulo{
        font-size: 20px;
    }

    .contato_main{
        flex-wrap: wrap;
        
    }

    .div_contato_titulos h3{
        font-size: 14px;
        padding-right: 10px;
   

    }

    .contato_main form{
        width: 290px;
        margin-left: -20px;
    
    }

    .contato_form__botao{
        width: 70%;
        
    }

    .menu_itens_li_contato_3{
        margin-right: 0px;
    }
}