*{box-sizing:border-box}
body
{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
}
p
{
    line-height:1.4;
    text-align: justify;
}
header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
nav a:hover
{color:#7ed321;}
nav
{
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}
form
{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
header a /*Resetando formatação dos links*/
{
    text-decoration: none;
    color: black;
}
h1
{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}
h2
{
    font-size: 2em;
    font-weight: 700;
}
label
{
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    text-align: center;
}
.input-default
{
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans';
    border-radius: 7px;
    width: 27.5vw;
}
label input
{height: 48px;}
header
{font-weight: 700;}
input[type="submit"]
{
    background: #7ED32166;
    color: #1C4701;
    font-weight: bold;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
}
input[type="submit"]:hover
{background: #7ed321;}
.navInscrever
{
    padding: 8px 32px;
    border-radius: 15px;
    font-size: 16px;
}
#inscrevHome
{
    width: 220px;
    height: 51px;
    border-radius: 15px;
    font-size: 18px;
}
#inscrevHome:hover
{transform: scale(1.1)}
#inscrevEnviar
{
    width: 141px;
    height: 42px;
    border-radius: 10px;
    font-size: 16px;
}
#inscrevEnviar:hover
{transform: scale(1.1)}
#junteSe
{
    width: 340px;
    text-align:left;
}
#mainHome
{
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 0% 200px;
    /*não sei bem ao certo se o espaçamento está funcionando como deveria*/
}
#divHome
{
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap: 25px;

}
#mainAbout
{
    display: flex;
    flex-direction: column;
    padding: 0% 27.5%;
    height: 60vh;
    gap: 16px;
}
#mainBlog
{
    display: flex;
    flex-direction: column;
    padding: 30px 15%;
    gap: 45px;
}
.blogPost
{display: flex;}
.conteudoPost
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}
#mainContact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
#divContact
{display: flex;}
.flexLabel
{
    width: 124px;
    height: 50px;
}