    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





    :root {
        --verde-fundo: rgba(126, 211, 33, 0.4);
        --verde-claro: #7ED321;
        --verde-escuro: #1C4701;
    }

    *{
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
   
    
    }


    body{
            height: 100vh;
            box-sizing: border-box;
            background-color: #FFFFFF;
            font-weight: bold;

            
    }

    span{
        color: var(--verde-claro);
    }

    .titulos    {
        font-size: 48px;
    }

    a {
        text-decoration: none;
    }
    a:visited{
        color: #000000;
    }

    

    .menu{
        display: flex;
        justify-content: space-between;
        margin: 40px 15px;
        align-items: center; 
    }

    .__menu-links{
        margin-top: 10px;
        color: #000000;
        display: flex;
        justify-content: space-between;
        gap: 35px;
        align-items: center;
    }

    .btn-inscrever{
        background-color: var(--verde-fundo);
        color: var(--verde-escuro);
        width: 151px;
        text-align: center;
        border-radius: 15px;
        font-size: 16px;
        padding: 9px 32px;
        

        
    }
    .btn-inscrever:hover{
        background-color: var(--verde-claro);
        color: var(--verde-escuro);
        width: 155px;
    }

    .__menu-link_link:hover{
        background-color: var(--verde-escuro);
        color: #FFFFFF;
        border-radius: 10px;
        width: 140px;
        text-align: center;
      
    }

    .apresentacao{
        margin: 10%;
        display: flex;
        flex-direction:row;
        align-items: start;
        justify-content: flex-start;
        gap: 50px;
        
    }

    .apresentacao__conteudo-principal{
        display: flex;
        font-weight: 400;
        width: 371px;
        flex-direction: column;
        justify-content:space-between;
        gap:25px;
    }

    .apresentacao__conteudo-principal-link{
        background-color: #7ED321;
        color: var(--verde-escuro);
        width: 220px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        padding: 13px;
    }

    .apresentacao__conteudo-principal-link:hover{
        background-color: var(--verde-fundo);
        color: black;
        border: 1px solid var(--verde-claro);
        
    }


    .quem-somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        width: 687px;
        margin: auto;
        padding: 30px;
        
    }

    .quem-somos__texto{
        font-weight: normal;
        font-size: 16px;
        text-align: justify;
      }

      .titulo-blog{
        text-align: center;
      }

      article p{
        font-weight: normal;
        text-align: justify ;
      }

      .blog_apresentacao{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        width: 1084px;
        margin-bottom: 50px;
      }

      .article-blog{
        display: flex;
        flex-direction: column;
        gap: 25px;
      }

      ::placeholder{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }

    .apresentacao-principal-inscricao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
       
    }

    .apresentacao-incricao{
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 25px;
    }
    
    .labels{
        display: flex;
        align-self: flex-start;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 27px;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    form input, form textarea{
        outline: unset;
        width: 419px;
        padding: 10px;
        border: 1px solid #9f9f9f;
        border-radius: 10px;
    }

    .botao-enviar{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        border-radius: 6px;
        width: 141px;
        padding: 6px;
        background-color: var(--verde-claro);
        color: var(--verde-escuro);
        align-self: end;
    }


    textarea {
        border: none; 
        outline: none; 
        resize: none; 
        min-height: 100px;
    }

    .ama-cachorros{
        width: 114px;
        text-align: center;
    }

