* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navegacao {
    height: 100px;
    width: 100%;
}

.itens{
    margin: 10px;
    display: flex;
    justify-content: space-between; /* Isso garante que os itens fiquem separados nos extremos */
    align-items: center;
}

.logo{
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 48px;
}

.love{
    color:#7ED321;
}

.menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none; /* Removi a bolinha dos itens */
    align-items: center;
}

.menu li{
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover{
    color: #7ED321;
}
.botao-inscrever {
    background-color: #7ED32166;
    color: black; 
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Raio de borda para arredondar */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
    font-size: 16px; /
    
}

p{
    color: black;
    position: absolute;/* Define a posição absoluta */
    width: 340px;
    height: 234px;
    top: 235px;
    left: 300px;
    gap: 0px;
    opacity: 0px;
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;
}

img{
    position: absolute;/* Define a posição absoluta */
    width: 640px;
    height: 480px;
    top: 150px;
    left: 700px;
    
}

.bot-ins{
    position: absolute;/* Define a posição absoluta */
    width: 220px;
    height: 51px;
    top: 500px;
    left: 300px;
    gap: 0px;
    opacity: 0px;
    text-align: center;
    background-color: #7ED32166;
    color: #1C4701;  
    padding: 15px 30px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Raio de borda para arredondar */
    cursor: pointer;
    font-size: 18px; /
    

}