body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    padding: 40px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    color:#000000;
}
a:visited{
    color: #000000;
}
.welovedogs{
    font-size: 48px;
    margin: 0;
}
.verde{
    color:#7ED321;
}
p{
    font-size: 16px;
    text-align: justify;
}
.inscricao{
    background-color: #7ED321;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-inline: 32px;
    border-radius: 15px;
}
.container {
    text-align: center; /* Centraliza o texto dentro do container */
}

.bloco {
    display: flex; /* Torna os elementos dentro do bloco flexíveis */
    align-items: center; /* Centraliza verticalmente */
    margin-inline: 8%;
    margin-block: 20px;
}

.bloco img {
    margin-left: 70px; /* Adiciona espaço entre a imagem e o texto */
}
.conteudo{
    text-align: justify;
}
.container h1{
    margin-bottom: 30px;
}