*{
    font-family: Open Sans;
}

.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nomesite{
    position: relative;
    display: flex;
    align-items: flex-start;
    left: 15px;
    top: 22px;
    width: 281px;
    height: 65px;
    font-size: 48px;
    font-weight: 700;
}
.nomesite p{
    margin-top: 0px; 
}
#love{
    color: #7ED321;
}

/* Segunda parte CSS topo*/

.menu{
    position: relative;
    top: 22px;
    width: 400px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

#botaotitulo{
    height: 40px;
    width: 151px;
    font-size: 16px;
    font-weight: 700;
    color: #1C4701;
    background-color: #7ED32166;
    border-radius: 15px;
    border: 0px;
}

