/* about page */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

main section {
    width: 687px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

main h1 {
    width: 334px;
    height: 65px;    
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
}

main p {
    width: 687px;
    height: 176px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: justify;
}

main img {
    width: 354px;
    height: 266px;
}