/* home page */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

main article {
    width: 371px;
    height: 351px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main p {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    text-align: left;

}

main .subscribe button {
    width: 220px;
    height: 51px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
}

main img {
    width: 640px;
    height: 480px;
}