/* geral */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

:root {
    --black: 0, 0, 0;
    --gray: 159, 159, 159;
    --white: 255, 255, 255;
    --light_green: 126, 211, 33;
    --light_green_alpha: 0.4;
    --dark_green: 28, 71, 1;
}

* {
    font-family: "Open Sans";
    color: rgb(var(--black));
}

body {
    background-color: rgb(var(--white));
}

a {
    text-decoration: none;
}

button {
    border: 0;
    border-radius: 15px;
    background-color: rgb(var(--light_green));
    color: rgb(var(--dark_green));
    cursor: pointer;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    height: 120px;
}

#logo {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.37px;
    position: relative;
    left: 15px;
}

#logo #logo-love {
    color: rgb(var(--light_green));
}

header nav {
    position: relative;
    right: 15px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
}

nav .subscribe button {
    width: 151px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
}


nav .subscribe button {
    transition-duration: 1s;
    background-color: rgba(var(--light_green), var(--light_green_alpha));
}

nav .subscribe button:hover {
    transition-duration: 1s;
    background-color: rgb(var(--light_green));
}