* {
	font-family: 'Open Sans';
}

.link3 {
	padding:15px;
	border-radius: 14px;
	background-color: rgba(126, 211, 33, 0.4);
}

main section {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

main section h1 {
	font-size: 2.5rem;
	font-weight: 900;
	margin:0;
}

.form_container {
	display: flex;
	justify-content: center;
	align-items:center;
}

.form_container form {
	display: flex;
	gap: 1.5rem;
}

.input_container {
	display:flex;
	flex-direction: column;
	align-items:center;
	gap:1.5rem;
}
.label_container {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:center;
	gap:1rem;
	width: 7vw;
}

input {
	width: 15vw;
	border-color: #9F9F9F;
	border-radius: 5px;
}

label {
	font-size: 1.2rem;
	font-weight: 900;
}

.dog_input {
	width: 15vw;
	border-color: #9F9F9F;
	border-radius: 5px;
}
.dog_input::placeholder {
}

.dog_label {
}

.submit_button {
	text-decoration: none;
	border-color: transparent;
	display:inline-block;
	width: 7vw;
	padding:10px;
	border-radius: 10px;
	background-color: #7ED321;
	font-weight: bold;
	color: black;
	text-align:center;
	align-self: end;
}

