@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1F3519;
   padding-left: 200px;
    font-family: 'Montserrat';
    padding-right: 200px;
  }

  h1{
    color: white;  
  }
  
  h2{
    color: white;  
  }

p{
  font-size: 15px;
}
  strong{
    color: greenyellow;
  }

  .Subtitulo{
    display: flex;
    justify-content: space-between;
    background-color: #588E22;
    padding-left: 700px;
    padding-right: 700px;
  }

  .Subtitulo h3{
    color: white;
    font-family: Montserrat;
  }


.Predator{
display: flex;
justify-content: center;
background-color: #588E22;
padding-top: 20px;
}

.Predator img{
  border-radius: 30px;
}

.Novidades{
  margin: 0 auto;
  margin-top: 32px;
  left: 238px;
  font-size: 32px;
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-around;
}

.titulo{
  padding-left: 100px;
  margin: 0 auto;
  margin-top: 32px;
  left: 238px;
  font-size: 32px;
  font-family: 'Montserrat';
}

.JogosHades img{
  padding-top: 20px;
  width: 337px;
  height: 186px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.JogosHades {
  width: 385px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: white;
}
.Elementos{
  max-width: 340px;
}

.Series img{
  padding-top: 20px;
  width: 337px;
  height: 186px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Series{
  width: 385px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

}
.Elementos2{
  max-width: 340px;
}

.pagina{
  background: #E2DFDF;

}

.JogoMinecraft{
  width: 385px;
  height: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

}

.JogoMinecraft img{
  padding-top: 20px;
  width: 337px;
  height: 186px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Elementos3{
  max-width: 340px;
}

.Autor{
  display: flex;
  padding-right: 120px;
}

.Autor p{
  padding-top: 10px;
}

.Autor img{
  
  width: 32px;
  height: 32px;
  border-radius: 50%;
  
}

.Inferior{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.Geral{
  background-color: #1F3519;
  height: 216px;
}
.superior{
  color: white;
  display: flex;
  justify-content: space-around;
  
}

.Titulo{
  padding-left: 200px;
    font-family: 'Montserrat';
}