/* general styling -------------------------------------------------- */

body {

    background: #BCCDD0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

p {
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    
}

h1{
    font-weight: 600;
    font-size: 2.1rem;
}

#center {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* font styling ------------------------------------------------*/

    #lorem-ipsum {

        font-family: Open Sans;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 500;
    }

    #doguito {

        font-family: Overpass;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0.2rem 0 0 0;
    }

    #date {
        font-family: Overpass;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0.5rem 0 0 0 ;
    }

/* card styling ------------------------------------------------*/

#card {

    display: flex;
    height: 28rem;
}

#general-info {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #DFDFD6;
    padding: 1.5rem;
    border-radius: 0 1.8rem 1.8rem 0;
    width: 32rem;
}

#user-info {
    display: flex;

}

#user-area {
    display: flex;
    justify-content: space-between;
}

#doggo {
    margin-right: 0.5rem;
}

/* menu ------------------------------------------------*/

#menu {
    
    display: flex;
    position: relative;
    top: 01rem;
    align-self: flex-end;
    width: 40%;
    height: 2.5rem;
    padding: 0rem 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
    background: #696F5A;


}

#menu > * {
    margin-left: 0.7rem;
}

#menu > p {
    white-space: nowrap;
    color: #DFDFD6;
    margin-left: 0;
}

#curtain {

    position: absolute;
    margin: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: #DFDFD6;
    
}


/* mobile ------------------------------------------- */

@media (max-width: 900px) {

    #card {
 
        flex-direction: column;
        width: 20rem;
        height: unset;
        align-items: center;
    }

    #leaves {
        
        content: url(../assets/leaves_mobile.svg);
        width: inherit;

    }

    #general-info {

        width: unset;
        border-radius: 0 0 1.8rem 1.8rem;
    }

    h1 {margin-top: 0;}

    #menu {

        top: unset;
        width: 11rem;
        padding: 0 1rem 0 0.6rem;
        height: 2rem;

    }

    #user-area {

        margin-top: 1rem;
    }

    #menu > p {

        margin-left: 0;
        margin-top: 1.2rem
    }

    #date {

        font-size: 1rem;
    }
    
  }

  .animation {

    animation-name: reveal;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

  @keyframes reveal {
    0% {
      width: 100%;
    }
    
    100% {
      width: 0%;
    }
  }