*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #BCCDD0;
    font-family: "Josefin Sans", sans-serif;
}

.card{
    width: 875px;
    height: 491.63px;
    background-color: #DFDFD6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.text p{
    width: 90%;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}

.text h1{
    font-size: 36px;
    font-weight: 600;
    width: 90%;
}

.userInfos{
    display: flex;
    gap: 10px;
}

.userInfos h3{
    font-family: Overpass, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.userInfos p{
    font-family: Overpass, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.userText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottomCard{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.shareButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    
}

.buttonImage{
    transition: all 0.3s ease;
}

.buttonImage:hover{
    transform: scale(1.1);
}

.shareMenu{
    width: 221px;
    height: 34px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
    background-color: #696F5A;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 5.6rem;
}

.shareMenu p{
    font-family: Overpass, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #DFDFD6;
    letter-spacing: 8px;
    height: 22px;
}

.share{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
}

.mainCardImage{
    background-image: url(../images/image.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 105rem;
}

.card:hover{
    scale: 1.01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 976px){
    .card{
        height: 90%;
        width: 92%;
        padding-bottom: 1rem;
        flex-direction: column;
    }

    .mainCardImage{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        max-height: 202px;
        background-image: url("../images/imagemdomobile.svg");
        background-size: cover;
        background-position: center;
        border-radius: 30px 30px 0 0;
        background-repeat: no-repeat;
        
    }

    .text{
        margin-top: 20px;
    }

    .mainCardImage img{
        display: none;
    }   

}
