@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCCDD0;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #111313;
    font-size: 36px;
}
p {
    font-family: 'Open Sans', sans-serif;
}
section {
    display: flex;
    padding: 50px 30px;
    border-radius: 0px 30px 30px 0px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #DFDFD6;
}
#carta {
    display: flex;
    width: 875px;
    height: 492px;
}
#carta img{
    border-radius: 30px 0px 0px 30px;
}