*{
    font-family: Open Sans;
}

.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1440px; */
    height: 120px;
}

.nomesite{
    position: relative;
    display: flex;
    align-items: flex-start;
    left: 15px;
    top: 22px;
    width: 281px;
    height: 65px;
    font-size: 48px;
    font-weight: 700;
}
.nomesite p{
    margin-top: 0px; 
}
#love a{
    color: #7ED321;
}

.menu{
    position: relative;
    top: 22px;
    width: 400px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

#botaotitulo{
    height: 40px;
    width: 151px;
    font-size: 16px;
    font-weight: 700;
    color: #1C4701;
    background-color: #7ED32166;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
}

p>a{
    color: black;
    text-decoration: none;
}

.menu p a:hover{
    text-shadow: 0px 0px 1px #1C4701;
    transition: 10ms;
}

#botaotitulo:hover{
    text-shadow: 0px 0px 1px #7ED32166;
    background-color: #9bd26166;
    transition: 10ms;
}



/* Css do conteudo */

.conteudo{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texto h1{
    align-self: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
    height: 65px;
    width: 334px;
    
}

.texto p{
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-top: -8px;
    height: 176px;
    width: 687px;

}

.imagem{
    align-self: center;
    width: 354px;
    height: 266px;
}