*{
   background-color: #BCCDD0;
}

.corpo{
    display: flex;
    margin-left: 350px;
    margin-top: 100px;
    width: 50%;
    padding: 50px 30px 41px 30px;
    justify-content: center;
}

.bloco1, .texto, .bloco2, .dados{
    
    display: flex;
    justify-content: center;
    background-color: #DFDFD6;
    border-radius: 30px;
}

.texto, .bloco2{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    
}



p{
    background-color: transparent;
    font-family: Open Sans;
    text-align: justify;


}
h1{
    font-family: Josefin Sans;
    text-align: justify;
    background-color: transparent;
    font-size: 30px;
    margin-top: -120px;

}

h2{
    font-family: Overpass;
    font-size: 24px;
    background-color: transparent;

}

h3{
    font-family: Overpass;
    font-size: 16px;
    background-color: transparent;
    margin-top: -2px;
}

picture{
    width: 100%;
    height: 100%;
}

.bloco2{
    width: 160px;
    height: 60px;
}
.dados{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


@media screen and (max-width: 1120px){ 

    .corpo{
        display: flex;
        margin: auto;
        width: 50%;
        padding: 50px 30px 41px 30px;
        justify-content: center;
    }

    .bloco1{
        flex-direction: column;
        
    }
    h1{
        font-family: Josefin Sans;
        text-align: justify;
        background-color: transparent;
        font-size: 24px;
        margin-top: 5px;
    
    }


    
}