*{
   background-color: #BCCDD0;
}

.corpo{
    display: flex;
    margin-left: 350px;
    margin-top: 100px;
    width: 50%;
    padding: 50px 30px 41px 30px;
    justify-content: center;
}

.bloco1, .texto{
    
    display: flex;
    justify-content: center;
    background-color: #DFDFD6;
    border-radius: 30px;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    
}

p{
    background-color: transparent;
    font-family: Open Sans;
    text-align: justify;


}
h1{
    font-family: Josefin Sans;
    text-align: justify;
    background-color: transparent;
    font-size: 30px;
    margin-top: -160px;

}


picture{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1120px){ 

    .corpo{
        display: flex;
        margin: auto;
        width: 50%;
        padding: 50px 30px 41px 30px;
        justify-content: center;
    }

    .bloco1{
        flex-direction: column;
        
    }
    h1{
        font-family: Josefin Sans;
        text-align: justify;
        background-color: transparent;
        font-size: 24px;
        margin-top: 5px;
    
    }

    p{
        margin-top: 2px;
    }
    
}