@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #BCCDD0;

}

*{
    margin:0;
    padding: 0;

}



.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card{
    width: 875px;
    height: 492px;
    background-color:#DFDFD6;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    max-width: 900px;
    min-width: 350px;

}

.imgcontainer{
    width: 291px;
    height: 492px;
    justify-content: start;
    padding-right: 30px;
    align-items: center;

}                       

.textcontainer{
    width: 524px;
    height: 222px;
    font-family: "Open sans", Josefin sans;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.douito{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#lorem{
    font-size: 16px;
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    line-height: 21.79px;
    width: 500px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    text-align: start;
}

.textos{
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    text-align: justify;
    gap: 25px;
    width: 524px;
}

.rodaham{
    display: flex;
    flex-direction: column;
    gap:20px;
}


.hamburguer{
    background-color:#696F5A;
    border-radius:15px ;
    width: 230px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.hambcontainer{
    border-radius:15px ;
    width: 513px;
    display: flex;
    justify-content: end;
    align-items: center;
    top: 382px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease, opacity 0.4s ease;
}

.imagem4{
    cursor: pointer;
    border-radius: 30px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagem1{
    width: 291px ;
    height: 492px;
}

.folhameno{
    display: none;
}

@media(max-width: 600px){

*{
    margin:0;
    padding: 0;

}


.card{
    width:350px ;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 900px;
    min-width: 350px;

}

.imgcontainer{
    width: 350px;
    height: 303px;
    padding-right: 0;
    justify-content: center;

}

.folhameno{
    display: flex;
}

.imagem1{

    display: none;
}



.textos, #lorem{
    width: 290px;
    height: 368px;
    padding-bottom: 20px;
}

.rodape{
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.hambcontainer{
    justify-content: center;
    margin-left: 40px;
}

.textcontainer{
    padding-top: 65px;
    justify-content: center;

}
}