/* AJUSTES GERAIS */
* {
    background-color: #BCCDD0;
}

body{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DFDFD6;
    width: 875px;
    height: 491px;
    border-radius: 30px;
}

section{
    background-color: #DFDFD6;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

img{
    background-color: #DFDFD6;
}

div{
    background-color: #DFDFD6;
}

/* HEADER */
header{
    background-color: #DFDFD6;
    margin-left: 37px;
    
}

h1{
    background-color: #DFDFD6;
    font-size: 36px;
    font-family: "Josefin sans";
}


/* MAIN */
main{
    background-color: #DFDFD6;
    margin-left: 37px;
}

p{
    background-color: #DFDFD6;
    font-size: 16px;
    font-family: "Open sans";
}


/* FOOTER */
footer{
    background-color: #DFDFD6;
}

.doguito{
    background-color: #DFDFD6;
}

h2{
    background-color: #DFDFD6;
    margin-top: 29px;
}

.doguito{
    display: flex;
    margin-top: 70px;
    margin-left: 30px;
}

.imgCachorro{
    margin-top: 30px;
}

.textoFooter{
    margin-left: 10px;
}

.pData{
    margin-top: -12px;
}