@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    line-height: 1;
}

body{
    display:flex;
    justify-content: center;
    height: 100vh;
    background-color: #BCCDD0;
}

.card {
    align-self: center;
    display: flex;
    flex-direction: row;
    background-color: #DFDFD6;
    border-radius: 30px;
    max-width:875px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 41px;
    gap: 12px;
    background: #DFDFD6;
    align-items: flex-start;
    border-radius: 0px 30px 30px 0px;

}

.text{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    margin: 0 auto;

    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;

}

.text h1{

    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;

    /* black */
    color: #111313;
}

.text p{

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;

    color: #000000;

    order: 1;
}

footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    margin: 0 auto;
    width: 100%;
    max-height: 60px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.profile{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 11px;

    width: 167px;
    height: 60px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile-info{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 96px;
    height: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Overpass';
    font-style: normal;
    font-weight: 500;

}

.profile-info h2{

    width: 87px;
    height: 30px;


    font-size: 24px;
    line-height: 30.38px;

    color: #111313;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.profile-info h3{

    width: 96px;
    height: 20px;


    font-size: 16px;
    line-height: 20px;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;

}

#menu{
    visibility: hidden;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;

    width: 231.02px;
    height: 44px;
    margin-bottom: 10px;

    background: #696F5A;
    border-radius: 15px;
    width: 0;
    flex: none;
    flex-grow: 0;
    z-index: 2;
    transition: .6s;
    overflow: hidden;    
}

#menu.active{
    display: flex;
    width: 231.02px;
    visibility: visible;
}


#share:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.03);
}




.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


@media (max-width: 376px){

    .card{

        flex-direction: column;
        justify-content: space-between;

        max-width: 350px;
        height: 750px;
        border-radius: 30px;
    }

    #card-img{
        max-width: 350px;
        max-height: 202px;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .info{

        padding: 25px 30px;
        /* gap:70px; */

        max-width: 350px;
        height: 548px;

        border-radius: 0px 0px 30px 30px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .text{

        gap: 10px;

        width: 290px;
        height: 368px;
        align-self: stretch;
    }

    .text p{
        text-align: left;
    }

    #menu{
        width: 0px;
        height: 34px;
    }

    #menu.active{
        width: 221.02px;;
    }

}

