* {
    box-sizing: border-box; 
}



body{
    background: rgba(188, 205, 208, 1);
    height: 812px;
    padding: 29px 12px 33px 13px;

}

.Card{
    
    top: 29px;
    left: 13px;
    margin:auto;

    min-width: 375px;
    max-width: 1920;
    }

    .picture{
    
    }

    .info{
    width: Fill 350px;
    height: 548px;
    padding: 25px;
    gap: 70px;
    border-radius: 0px 0px 30px 30px;
    background: rgba(223, 223, 214, 1);
    }

    .text{
    width: 100%;
    height: Hug (368px)px;
    gap: 10px;
    }

    .text h1{
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    }

    .text p{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    }

    .footer{
    width: Fill 290px;
    height: 60px;
    justify-content: space-between;
    text-align: right;
    }

    .profile{
    width: Fill 167px;
    height: Fill 60px;
    gap: 11px;
    }

    .frame{
    width: 60px;
    height: 60px;
    border-radius: 110px 110px 110px 110px;
    }

    .doguito{
    width: 87px;
    height: 30px;
    font-family: "Overpass",sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30.38px;
    text-align: left;
    }

    .data{
    width: 96px;
    height: 20px;
    font-family: "Overpass",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.26px;
    text-align: left;
    }

    .share{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;    
    background: rgba(105, 111, 90, 1);
    }



@media (max-width: 500px){
    

}

