* {
    background-color: #BCCDD0;
}

body{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DFDFD6;
    width: 875px;
    height: 491px;
    border-radius: 30px;
}

header{
    background-color: #DFDFD6;
    margin-left: 86px;
}

h1{
    background-color: #DFDFD6;
}
