a:link { 
    text-decoration: none;
    color: inherit;
  } 
  a:visited { 
    text-decoration: none; 
    color: inherit;
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  h1{
    color: black;
  }
  body {
    font-family: Open Sans;
    font-weight: 700;
    text-align: left;
}

/* header */


#top {
    display: flex;
    flex-direction: column;
    
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em
    
}


span {
    color: #7ED321;
}

#links > * {
    margin-left: 2em;
}

a {
    font-size: 0.8em;
}

#links {
    display: flex;
    align-items: center;
}

.btn-sign-in {
    display: flex;
    background-color: #7ED321;
    color: #1C4701;
    border-radius: 0.7em;
    width: 7em;
    height: 2em;
    align-items: center;
    justify-content: center;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

#info {
  display: flex;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 6em 20em;
  column-gap: 1em;
}

label {
  text-align: center;
  grid-column-start: 1;
  
}

input[type="text"] , textarea {
  grid-column-start: 2;
  height: 1.9em;
  border-radius: .4em;
  border-style: solid;
  border-width: .095em;
  border-color: #9F9F9F;
  font-family: Open Sans;
  font-weight: 700;
  padding: 0.3em 0.8em;
}

::placeholder {
  font-family: Open Sans;
  font-weight: 700;
  text-align: top;
  color: #9F9F9F;

}

#message {
  height: 10em;
  resize: none; 
}

#message::placeholder {
  
  color: #9F9F9F;

}


input[type="submit"] {
    grid-column-start: 2;
    justify-self: right;
    margin-top: 2em;
    border-radius: .4em;
    border-style: none;
    width: 8em;
    height: 2.5em;
    background-color: #7ED321;
    color: #1C4701;
    font-family: Open Sans;
    font-weight: 700;
    
  }

  /* efeitos especiais */

  input:focus::placeholder , #message:focus::placeholder {
    color: transparent;
  }

  #brand:hover > span {
    color: black;
  }

  #brand:hover {
    color: #7ED321;
  }

  #background-top-btn:hover {
    background-color: #7ED321;
    transition: background-color 0.5s ease-out; 
  }