.main__container__title{
    font-size: 2rem;
    font-weight: bold;
}

.main__container__post{
    display: flex;
    align-items: center;
    width: 70%;
    padding-bottom: 10px;
}

.post-title{
    font-weight: bold;
}

.post-text{
    text-align: justify;
    font-size: 0.9rem;
}