header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 80px;
  
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    
}
a {
    text-decoration: none;
    color: black;

}
.inscricao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1C4701;
    background-color: #7ED32166;
    width: 151px;
    height: 40px;
    top: 40px;
    border-radius: 15px;

}

