/* IMPORTAÇÕES */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* GERAL */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    gap: 0;
    
    font-family: Overpass;
    font-weight: 500;
    color: #111313;
}



/* TEXTO */

h1 {
    font-family: Josefin Sans;
    font-size: 2.25rem;
    font-weight: 600;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
    color: #DFDFD6;
}
h6 {
    font-size: 1rem;
}
p {
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
}



/* SEÇÕES */

body {
    background-color: #BCCDD0;
    margin: auto;
}   
main, section, div {
    display: flex;
    flex-direction: column;    
}
    main {
        justify-content: center;
        align-content: center;
        align-items: center;
        
        margin: 2%;
}
    section {
        width: 21.875rem;
    }
    .div-principal {
        justify-content: space-between;
        
        background: #DFDFD6;
        padding: 1.5rem 1.875rem;
        border-radius: 0 0 1.875rem 1.875rem;
}
    .div-perfil1 {
        flex-direction: row;
        justify-content: space-between;
}
    .div-perfil2 {
        flex-direction: row;

        gap: 1.5rem 0 0.75rem 0;
}



/* H-MENU */

button {
    border: hidden;
    background-color: transparent;
}
#h-menu {
    align-self: flex-end;
    visibility: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    background-color: #696F5A;
    width: fit-content;
    gap: 1rem;
    padding: 0.625rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}



/* IMAGENS */

#imagem-desktop {
    display: none;
}



/* RESPONSIVIDADE (padrão mobile-first) */

@media (min-width: 768px) {
    h1 {
        margin-bottom: 2rem;
    }
    main {
        margin-top: 13vh;
    }
    section {
        flex-direction: row;
        width: fit-content;
    }
    .div-principal {
        max-width: 36rem;
        border-radius: 0 1.875rem 1.875rem 0;
    }
    #imagem-mobile {
        display: none;
    }
    #imagem-desktop {
        display: unset;
    }
}