@import '../../styles/index.scss';

#h-menu {
  @include flex(column, 2rem, 2rem);

  button {
    align-self: flex-start;

    margin: 1.5rem;
    background-color: transparent;
    border: none;
  }

  #menu-hamburger {
    display: none;

    &.aberto {
      display: flex;
      flex-direction: column;

      gap: 1.5rem;

      animation-name: aparecer;
      animation-duration: 1s;
    }
    
    .hmenu-1 ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
          display: flex;
          align-items: center;
          justify-content: center;
  
  
          width: 100vw;
          height: 3rem;
  
          &:hover {
            background-color: hsla(216, 100%, 50%, 0.2);
          }
      }
    }
    .hmenu-2 ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      }
  }

  // -- RESPONSIVITY
  @media (min-width: 821px) {
    display: none;
  }
}

// -- ANIMATION
@keyframes aparecer {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}