<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/about.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<div class="logo">
				<img src="../welovedogs.svg" alt="LOGO">
			</div>

			<div class="links">
				<div>
				<a href="/quem_somos">QUEM SOMOS</a>	
				</div>
				<div>
				<a href="/blog">BLOG</a>	
				</div>
				<div>
				<a href="/inscrever">INSCREVER</a>	
				</div>
			</div>
		</header>

		<main>
			<section>
				
			</section>
			
		</main>

	</body>
</html>
