<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/blog.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<div class="logo">
				<a class="" href="./home.html">
					<img src="../images/welovedogs.svg" alt="LOGO">
				</a>	
			</div>

			<div class="links">
				<a class="link1" href="./about.html">QUEM SOMOS</a>	
				<a class="link2" href="#">BLOG</a>	
				<a class="link3" href="./subscribe.html">INSCREVER</a>	
			</div>
		</header>

		<main>
			<section>
				<h1>Blog</h1>	

				<div class="post">
					<img src="../images/Figure3.svg" alt="Imagem 3">
					<div>
						<h2>Título do post</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio ut enim blandit volutpat. Urna duis convallis convallis tellus id interdum velit laoreet id. Sed felis eget velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus. At elementum eu facilisis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio ut enim blandit volutpat. Urna duis convallis convallis tellus id interdum velit laoreet id. Sed felis eget velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus. At elementum eu facilisis sed. 
						</p>
					</div>
				</div>
				<div class="post">
					<img src="../images/Figure4.svg" alt="Imagem 4">
					<div>
						<h2>Título do post</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio ut enim blandit volutpat. Urna duis convallis convallis tellus id interdum velit laoreet id. Sed felis eget velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus. At elementum eu facilisis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio ut enim blandit volutpat. Urna duis convallis convallis tellus id interdum velit laoreet id. Sed felis eget velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus. At elementum eu facilisis sed. 
						</p>
					</div>
				</div>

			</section>
			
		</main>

	</body>
</html>
