<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/home.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<div class="logo">
				<a class="" href="#">
					<img src="../images/welovedogs.svg" alt="LOGO">
				</a>	
			</div>

			<div class="links">
				<a class="link1" href="./about.html">QUEM SOMOS</a>	
				<a class="link2" href="./blog.html">BLOG</a>	
				<a class="link3" href="./subscribe.html">INSCREVER</a>	
			</div>
		</header>

		<main>
			<section>
				<div>
					<h1>Junte-se a comunidade apaixonada por cachorros</h1>	
					<a class="link4" href="./subscribe.html">Inscrever-se</a>	
				</div>

				<img src="../images/Figure1.svg" alt="Imagem 1">
			</section>
			
		</main>

	</body>
</html>

