<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/subscribe.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<div class="logo">
				<a class="" href="./home.html">
					<img src="../images/welovedogs.svg" alt="LOGO">
				</a>	
			</div>

			<div class="links">
				<a class="link1" href="./about.html">QUEM SOMOS</a>	
				<a class="link2" href="./blog.html">BLOG</a>	
				<a class="link3" href="#">INSCREVER</a>	
			</div>
		</header>

		<main>
			<section>
				<h1>Inscrição</h1>
				<div class="form_container">
					<div>
						<form>

							<div class="label_container">
								<label class="name_label" for="">Nome</label>
								<label for="">Idade</label>
								<label for="">Email</label>
								<label class="dog_label" for="name">Ama cachorros?</label>
							</div>

							<div class="input_container">
								<input type="text" placeholder="Seu nome" name="name" value="">	
								<input type="number" placeholder="18" name="age" value="">	
								<input type="email" placeholder="exemplo@exemplo" name="email" value="">	
								<textarea placeholder="Mensagem" name="message" class="dog_input" rows="10" cols="39"></textarea>
								<input class="submit_button" type="submit" name="" value="Enviar">
							</div>


						</form>
					</div>

					<img src="../images/Figure5.svg" alt="Imagem 5">
				</div>
			</section>
			
		</main>

	</body>
</html>

