@import '../../styles/variables.scss';

#switch {
  width: max-content;
    
  // -- BUTTON
  label {
    position: relative;
    
    background-color: $claro-2;
    width: 3rem;
    height: 1.5rem;
    border: 0.01rem solid $escuro-2;
    border-radius: 1.5rem;

    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  // -- SWITCH
  label::before {
    position: absolute;
    left: 0.125rem;
    bottom: 0.125rem;
    content: '';
    
    background-color: $escuro-2;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100vh;
    box-shadow: 0 0 0.25rem $escuro-2;
    
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  // -- INPUT
  input {
    display: none;
    
    &:checked {
      // -- BUTTON CHANGES
      +label {
        background-color: $azulzim;
      }
      // -- SWITCH CHANGES
      +label::before {
        -webkit-transform: translateX(1.5rem);
        -ms-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
      }
    }
  }
}