.button {
    width: 100%;
    aspect-ratio: 5 / 3;
    font-size: 1.5rem;
    padding-bottom: 3px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .1);
    transition: transform 0.1s;
  }
  
  button.active {
    background-color: green;
  }
  button.inactive {
    opacity: .5;
  }
  
  .button:hover:not(:disabled),
  .button:focus:not(:disabled) {
    background-color: hsl(80, 61%, 60%);
    transform: scale(1.08);
  }
  
  .button:active {
    transform: scale(1);
  }
  