main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section{
    display: flex;
    margin-bottom: 45px;
    height: 252px;
    
}

main section.text{
    flex-direction: column;
}

main section.text h1{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
}

main section.text p{
    width: 780px;
    height: 185px;
    text-align: justify;
}

main section img{
    width: 304px;
}