.globo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo{
    /* background-color: red; */
}

.titulo p{
    font-size: 32px;
    font-weight: 400;
    font-family: inter;
    color: #0A3871
}
.aviso{
    display: flex;
    align-items: center;
}

.aviso p{
    font-family: inter;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}
.aviso img{
    width: 16px;
    height: 16px;
    padding: 5px;
}

.botao-adc1{
    width: 332px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.botao-adc1:hover{
    background-color: ##0A3871;
    transition: 10ms;
}

.botoes{
    display: flex;
    gap: 15px;
}

.botao-adc2{
    width: 332px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid #0A3871;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #0A3871;
}

.botao-adc2:hover{
    background-color: #d0d0d0;
}

#area-texto{
    width: 500px;
    height: 50px;
    resize: none;
}
